<link rel="stylesheet" href="../css/custom.css">
<section>
  <div class="page-header">
    <h2 data-ng-bind="vm.holiday.name"></h2>
  </div>
  <div class="container">
    <div class="row">
        <div class="btn btn-info block startDate-tab">
          <span>Start Date:</span> 
          <span class="data-input" name="startDate" data-ng-bind="vm.holiday.startDate | date:'mediumDate'"></span>
        </div><br />  
        <div class=" btn btn-info endDate-tab">End Date: 
          <span class="data-input" name="endDate" data-ng-bind="vm.holiday.endDate | date:'mediumDate'"></span>
        </div>
        
      </div>
      <div class="row">
      <div class="btn btn-info status-button"> Status:</div>
      <div class="btn btn-warning status-button" name="status" data-ng-bind="vm.holiday.status">
        </div>
      </div>
       <form ng-if="vm.authentication.user.roles[0] == 'admin' || vm.authentication.user.roles[0] == 'moderator' " name="vm.form.holidayForm" class="form-horizontal" ng-submit="vm.save(vm.form.holidayForm.$valid)" novalidate>
        <div class="form-group">       
        <label class="btn btn-info"> Change status: </label>
        <span>
        <select class="form-control status-select btn btn-warning" name="statusSelect" id="statusSelect" ng-model="vm.holiday.status">
          <option value="">---Please select---</option> <!-- not selected / blank option -->
          <option value="{{vm.statuses[1]}}" >Moderator-Approved</option> <!-- interpolation -->
          <option value="{{vm.statuses[2]}}" >Moderator-Declined</option>
          <option ng-if="vm.authentication.user.roles[0] == 'admin'"  value="{{vm.statuses[3]}}">Admin-Approved</option>
          <option ng-if="vm.authentication.user.roles[0] == 'admin'" value="{{vm.statuses[4]}}">Admin-Declined</option>
        </select></span><br>
        <button type="submit" class="btn btn-info update-status-button">{{vm.holiday._id ? 'Update Status' : 'Create'}}</button>
        </div>
         <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
         </form>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-warning active" data-ng-class="vm.holiday.status" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
  </div>
  <div class="pull-right"
       data-ng-show="vm.holiday.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="holidays.edit({ holidayId: vm.holiday._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.holiday.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.holiday.user"
            data-ng-bind="vm.holiday.user.displayName"></span>
      <span data-ng-if="!vm.holiday.user">Deleted User</span>
      
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.holiday.content"></p>
</section>
